{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<p class="govuk-body govuk-!-font-size-14">Page 3</p>
  <div class="govuk-grid-row cd-image-2" id="candidate-details">
    <div class="govuk-grid-column-full">
      <div class="notification-alert">You can change your previous response here or <a href="check-your-answers">go back and keep it</a>.<br>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Provide a few details to get the right support</h1>
      <p>Enter the driving licence details of the person taking the test. </p>
      <p>These details are checked and used to show information about the candidate's available tests and any test history. </p>
      <p>It's important the information is entered exactly as it looks on the driving licence.</p>
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">

          </ul>
        </div>
      </div>
      <form action="which-driving-test-are-you-booking" method="post" class="form">
        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <label class="govuk-heading-m" for="event-name">
            First and middle names
          </label>
          <p class="govuk-body">Enter the first and any middle names of the person taking the test. Do not include Miss, Ms, Mrs or Mr. </p>
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Error message text
          </span>
          <p class="govuk-hint">See section 2 of the driving licence</p>
          <input class="govuk-input govuk-!-margin-bottom-3" id="first-second-names" name="first-names" type="text" value="">
          <p class="govuk-body"><strong>Example</strong></p>
          <img class="dl-exmaple" src="/public/images/item2.png" />

        </div>
        <div class="grey-line"></div>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <label class="govuk-heading-m" for="event-name">
            Last names
          </label>
          <p>Enter the surname of the person taking the test.</p>

          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Error message text
          </span>
          <p class="govuk-hint">See section 1 of the driving licence</p>
          <input class="govuk-input govuk-!-margin-bottom-3" id="last-names" name="last-names" type="text" value="">
          <p class="govuk-body"><strong>Example</strong></p>
          <img  class="dl-exmaple" src="/public/images/item1.png" />

        </div>
        <div class="grey-line"></div>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <label class="govuk-heading-m" for="event-name">
            Driving licence number
          </label>
          <p>Enter the 16-digit driving licence number of the person taking the test.</p>
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Error message text
          </span>
          <p class="govuk-hint">See section 5 of the driving licence</p>
          <input class="govuk-input govuk-!-margin-bottom-3" id="dl-number" name="dl-number" type="text" value="">
          <p class="govuk-body"><strong>Example</strong></p>
          <img class="dl-exmaple" src="/public/images/item3.png" />

        </div>
        <div class="grey-line"></div>
        <div class="govuk-date-input">
          <label class="govuk-heading-m" for="event-name">
            Date of birth
          </label>
          <p class="govuk-body">Enter the date of birth of the person taking the test.</p>
          <span id="passport-issued-hint" class="govuk-hint">
            For example, 12 11 2007
          </span>
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Error message text
          </span>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group" id="dob">
              <label class="govuk-label govuk-date-input__label">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" value="">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="dob-month" type="text" value="" id="dob-month">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" name="dob-year" type="text" value="" id="dob-year">
            </div>
          </div>
        </div>
        <div class="govuk-form-group govuk-!-margin-bottom-9">
          <label class="govuk-heading-m" for="event-name">
            Personal reference number
          </label>
          <p>[How does the candidate recieve this? Email?].</p>
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Error message text
          </span>
          <input class="govuk-input govuk-!-margin-bottom-3" id="dl-number" name="dl-number" type="text" value="">
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
</div>

{% endblock %}
