
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Success: your details have been received
        </h1>
        <span style="font-size: 28px; font-weight: 700;">We will contact you within one working day to arrange your driving test</span>
        <div class="govuk-panel__body">
          Your reference<br><strong>HDJ2123F</strong>
        </div>
      </div>
    </div>
      <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">You may find it useful to <a class="print-this-page" href="">print this page</a>.</p>
      <h2 class="govuk-heading-m">Prepare for the test</h2>
      <p class="govuk-body">Learn more about preparing for a car driving test including free practice tests here: <a href="www.gov.uk/driving-test/revision-and-practice">www.gov.uk/driving-test/revision-and-practice</a>.</p>

      <p class="govuk-body">For some kinds of support you may be asked to provide a letter from a teacher or doctor.</p>

    </div>

</div>

{% endblock %}
