{% extends "layout.html" %}
{% block pageTitle %}
  Question page
{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Booking reference: B-000-261-433</span>
    <h1 class="govuk-heading-xl">Choose a theory test slot</h1>
    <p>These are the time slots we have available that match your support needs.</p>
       <br>
       <table class="govuk-table responsive-table">
         <!-- <h3 class="govuk-heading-m">Support requests</h3> -->
         <thead>
           <tr role="row">
             <th scope="col" >Location</th>
             <th scope="col" >Test slot</th>

             <th scope="col" >Action</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td role="gridcell">
               <span class="table-heading" aria-hidden="true">Location:</span>
               Pearson Professional Centre Swansea
             </td>

             <td role="gridcell">
               <span class="table-heading" aria-hidden="true">Test slot:</span>
               9:00am, 12 November 2022
               </td>

             <td role="gridcell">
               <span class="table-heading" aria-hidden="true">Action:</span>
               <a href="check-details">Book slot</a>
             </td>
           </tr>
           <tr>
             <td role="gridcell">
               <span class="table-heading" aria-hidden="true">Location:</span>
               Cardiff Driving Test Centre
             </td>

             <td role="gridcell">
               <span class="table-heading" aria-hidden="true">Test slot:</span>
               13:00pm, 12 November 2022
               </td>

             <td role="gridcell">
               <span class="table-heading" aria-hidden="true">Action:</span>
               <a href="check-details">Book slot</a>
             </td>
           </tr>
           <tr>
             <td role="gridcell">
               <span class="table-heading" aria-hidden="true">Location:</span>
               Avonmouth Bristol Test Centre
             </td>

             <td role="gridcell">
               <span class="table-heading" aria-hidden="true">Test slot:</span>
               11:00am, 14 November 2022
               </td>

             <td role="gridcell">
               <span class="table-heading" aria-hidden="true">Action:</span>
               <a href="check-details">Book slot</a>
             </td>
           </tr>

 </tbody>
       </table>


        <br><br>
        <h2 class="govuk-heading-m"if-you-change-your-test-at-short-notice">If you cannot make one of these time slots</h2>
        <p class="govuk-body">if you cannot make one of these time slots, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="theory-options-ask">ask us for 3 more to choose from</a></li>
          <li><a class="govuk-link" href="theory-options-cancel">cancel the support you asked for </a></li>
        </ul>

    </div>
</div>
{% endblock %}
