{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Your theory test bookings</h1>

        <!-- <p>

Select a booking reference to view, manage or cancel your theory test support.

</p> -->

        <br>

        <table class="govuk-table responsive-table">
          <!-- <h3 class="govuk-heading-m">Support requests</h3> -->
          <thead>
            <tr role="row">
              <th scope="col" >Test type</th>
              <th scope="col" >Test slot</th>
              <th scope="col" >Booking reference</th>
              <th scope="col" >Status</th>
              <th scope="col" >Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Test Type:</span>
                Car
              </td>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Test slot:</span>
              </td>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Reference number:</span>
                B-000-261-433
                </td>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Status:</span>
                <strong class="govuk-tag govuk-tag--grey">reviewing evidence</strong>
              </td>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Actions:</span>
                <a href="status-evidence">View evidence</a><br>        <a href="theory-options-cancel">Cancel</a>
              </td>
            </tr>

            <tr>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Test Type:</span>
                Motorcycle
              </td>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Test slot:</span>
              </td>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Reference number:</span>
                B-000-261-431
                </td>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Status:</span>
                <strong class="govuk-tag govuk-tag--red">Test slots expired</strong>
              </td>
              <td role="gridcell">
                <span class="table-heading" aria-hidden="true">Actions:</span>
                <a href="theory-options-ask">Get new slots</a><br>        <a href="theory-options-cancel">Cancel</a>
              </td>
            </tr>



          </tbody>
        </table>

<br><br>


</div>

{% endblock %}
