
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-7">

    <div class="govuk-grid-column-full">
      <p class="govuk-body"><a href="#">Print this page</a>  <br><a href="email3">Email confirmation</a></p>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Theory test booking confirmation
        </h1>
        <span style="font-size: 28px; font-weight: 700;"></span>
        <div class="govuk-panel__body">
          Your booking reference<br><strong>B-000-261-433</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row" id="confirmation-page">

    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l">We’ve sent you a confirmation email with more information about your test. If you cannot find the email, check your junk or spam folders.</p>
<br>
      <!-- <p class="govuk-body"><strong>Keep your booking reference safe</strong>. <br>You'll need it to check, cancel or change this test.</p>
      <p>Find out how to <a href="https://invis.io/9612ZRJRVNER">change or cancel your test</a> </p> -->


          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Test type
              </dt>
              <dd class="govuk-summary-list__value">
                Car
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £23.00
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Test time and date
              </dt>
              <dd class="govuk-summary-list__value">
                 9:00am, Monday 12 November 2022
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Test location
              </dt>
              <dd class="govuk-summary-list__value">
                <span class="govuk-!-font-weight-bold">Pearson Professional Centre Swansea</span><br>Grove House, <br>3 Grove Pl,<br> Swansea SA1 5DF
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>


            <div class="govuk-summary-list__row" style="display: none;">
              <dt class="govuk-summary-list__key">
                Test centre
              </dt>
              <dd class="govuk-summary-list__value">

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional support during the test
              </dt>
              <dd class="govuk-summary-list__value">
                Reader/recorder

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                On-screen Langauage
              </dt>
              <dd class="govuk-summary-list__value">

                English

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                On-screen Bristish Sign Langauage (BSL)
              </dt>
              <dd class="govuk-summary-list__value">

                No

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Voiceover with headphones
              </dt>
              <dd class="govuk-summary-list__value">

                No

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>

          </dl>
          <p class="govuk-body"><strong>Keep your booking reference safe</strong>. <br>You’ll need it to check, change or cancel this test</p>

          <div class="govuk-inset-text">
If you change or cancel your test after 10 November 2022, you’ll have to pay again.          </div>
          <p class="govuk-body">Find out:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#">how to get ready for a theory test</a></li>
            <li><a href="#">what you can take to your theory test</a></li>
            <!-- <li><a href="booking-status">how to change a test</a></li>
            <li><a href="booking-status">how to cancel a test</a></li> -->

          </ul>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
It is against the law to cheat in a theory test. You can be sent to prison and get a driving ban.          </strong>
          </div>

    </div>
</div>

{% endblock %}
