{% extends "layout.html" %}

{% block pageTitle %}
You’ve booked a car theory test

{% endblock %}

{% block beforeContent %}
<!-- <img class="dl-exmaple" src="/public/images/dvsa-logo.png" </img> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You’ve booked a car theory test


</h1>
<p>Do not reply to this email.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h1 class="govuk-heading-xl">Booking details</h1>
<div class="govuk-inset-text">
Booking reference: B-000-261-433
</div>
        <p>

          Keep your booking reference safe. <br>

You'll need it if you want to check, change, or cancel this test.</p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-inset-text">
  <p>Type of test: <br>Car<br><br>




  Test centre:<br>
  Pearson Professional Centre Swansea<br>Grove House<br>
  3 Grove Place<br> Swansea<br> SA1 5DF<br><br>

  Time and date: <br>9:00am, Monday 12 November 2022</p>


</div>

<p>
  If you bring someone with you, they cannot wait in our test centres
</p>

<h1 class="govuk-heading-xl">Support during the test</h1>
<p>
Someone to read the questions on the screen and enter my answers
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h1 class="govuk-heading-xl">At the test centre</h1>

<p class="govuk-body">
  You must:
</p>
<ol class="govuk-list govuk-list--number">
  <li>
    get to the test centre 15 minutes before the test starts
  </li>
  <li>
    bring your driving licence<br>
(If you have a paper licence, bring an in-date passport too)
  </li>
  </ol>
<p>
If you do not bring your licence, we will cancel your test. We will not give you a refund.</p>

<h1 class="govuk-heading-xl">Security</h1>

<p>The test centre staff will check for items that you could use to cheat. They might also ask you to take off outer clothing or accessories.</p>
<p>We will cancel your test if you do not let them check.</p>


<div class="govuk-inset-text">
It is against the law to cheat in a theory test. You can go to prison and get a driving ban.
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h1 class="govuk-heading-xl">Personal items</h1>

<p class="govuk-body">
  You must:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    turn off your phone before going into the test centre

  </li>
  <li>
    put all personal items in a locker
  </li>

  </ul>
  <p>
If you cannot fit your personal items in the locker or we have them in the test room, we might cancel the test and ask you to leave. We will not give you a refund.
  </p>

  <p>
    Find out what you can take to your test at:
    <a href="https://www.gov.uk/theory-test/what-to-take" >www.gov.uk/theory-test/what-to-take </a> </p>
<h1 class="govuk-heading-xl">Useful information</h1>


<p>If you change or cancel your test after 10 November 2022, you’ll have to pay again.
</p>
<p class="govuk-body">
  Find out how to:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    get ready for a theory test: <a href="https://www.gov.uk/theory-test/revision-and-practice ">www.gov.uk/theory-test/revision-and-practice</a>

  </li>
  <li>
    check test details <a href="https://www.gov.uk/check-theory-test">www.gov.uk/check-theory-test</a>
  </li>
  <li>
    change a test <a href="https://www.gov.uk/change-theory-test">www.gov.uk/change-theory-test</a>
  </li>
  <li>
    cancel a test <a href="https://www.gov.uk/cancel-theory-test ">www.gov.uk/cancel-theory-test</a>
  </li>
  </ul>
        </div>



</div>

{% endblock %}
