{% extends "layout.html" %}

{% block pageTitle %}
Choose a test slot for your car theory test


{% endblock %}

{% block beforeContent %}
<!-- <img class="dl-exmaple" src="/public/images/dvsa-logo.png" </img> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Choose a test slot for your car theory test


</h1>
<p> Do not reply to this email.</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-inset-text">
Booking reference: B-000-261-433<br>
Type of test: car
</div>
        <p>

          Keep your booking reference safe. <br>

          You’ll need it to check, change, or cancel this test.
</p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<br><br>










<!-- <h2 class="govuk-heading-m">Your evidence</h2> -->

<p class="govuk-body">
  We’ve found 3 theory test slots for you to choose from:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Swansea: 9:00am, Monday 12 November 2022
  </li>
  <li>
    Cardiff: 13:00pm, Monday 12 November 2022
  </li>
  <li>
    Bristol: 11:00am, Wednesday 14 November 2022
  </li>
  </ul>
  <div class="govuk-inset-text">
  You must accept a slot by 30 November 2022. If you do not, we’ll offer them to someone else.

  </div>
  <h1 class="govuk-heading-xl">What you need to do next</h1>
  <p class="govuk-body">
    Go to: <a href="reference-number">https://www.dvsa/theory-test/manage-support</a> to:

  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      accept and pay for a test slot

    </li>
    <li>
      ask us for 3 more test slots to choose from

    </li>
    <li>
      cancel your request for theory test support
    </li>
    </ul>

  <p>  If you cannot use our online service, you can:</p>


  <ul class="govuk-list govuk-list--bullet">

    <li>
      telephone us on 0300 123 4567 – 8 am to 4 pm
    </li>
    </ul>




<!-- <p class="govuk-body">
  If you cannot make one of these slots, you can:



</p> -->



<div class="govuk-inset-text">

<p>Get ready for your theory test at <a href="https://www.dvsa/theory-test/revision-and-practice">https://www.dvsa/theory-test/revision-and-practice</a>.</p>

        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <h1 class="govuk-heading-xl">Contact us</h1>
        <p>Email: <a href="#">theorycustomerservices@dvsa.gov.uk</a><br><br>
          Telephone: 0300 200 1122<br>
  Monday to Friday, 8 am to 4 pm
</p>



</div>

{% endblock %}
