{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Booking reference: B-000-261-431</span>

      <h1 class="govuk-heading-xl">Your theory test options</h1>
      <p>We'll use this information to offer you test slots. We'll try to match your preferences as best as we can.​</p>
      <h3 class="govuk-heading-m">Where do you want to take the test?​</h3>

      <p>Enter a postcode or place. ​</p>
      <div id="account-number-hint" class="govuk-hint">
        For example, SW1A 2AA or Birmingham.​
        </div>

      <div class="govuk-form-group">
        <!-- <label class="govuk-label" for="event-name">
          Enter your booking reference
        </label> -->
        <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>
      <br>

      <h3 class="govuk-heading-m">What day of the week do you want to take the test?​​</h3>

        <select class="govuk-select" id="sort" name="sort">
          <option value="updated" selected>Please select</option>
          <option value="published">Weekdays</option>
          <option value="views">Weekends</option>
          <option value="views">Any days</option>
        </select>
<br><br><br>

        <h3 class="govuk-heading-m">What time of the day do you want to take the test?​​​</h3>

          <select class="govuk-select" id="sort" name="sort">
            <option value="updated" selected>Please select</option>
            <option value="published">Morning (9am to 12pm)</option>
            <option value="published">Afternoon (12pm to 6pm)</option>
            <option value="views">Evening (after 6pm)</option>
            <option value="views">Any time</option>
          </select>

</div></div><br><br>
      <a href="confirmation-change-slot" class="govuk-button govuk-!-margin-right-2">Continue</a>




{% endblock %}
