{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Booking reference: B-000-261-433</span>

      <h1 class="govuk-heading-xl">Upload your evidence</h1>
      <p>Evidence you uploaded:</p>

      <p>
                    <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                      <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
                    </svg>
                    LoremText-scan.pdf  <a class="govuk-link" href="#">Remove
                  </a><span><br>

                              <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                                <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
                              </svg>
                              DocSignature  <a class="govuk-link" href="#">Remove
                            </a></p>


        <h3 class="govuk-heading-m">Upload a file</h3>
        <div class="govuk-form-group">
          <!-- <label class="govuk-label" for="file-upload-1">
            Upload a file
          </label> -->
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>

</div></div>
      <a href="booking-status3" class="govuk-button govuk-!-margin-right-2">Continue</a>




{% endblock %}
