{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Do you need support while taking the driving test?</h1>
      <p class="govuk-body">Support is available during the driving test for people who have a disability, health condition or difficulty reading.</p>
        <p class="govuk-body">Depending on the type of test, this might include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an English or Welsh voiceover</li>
          <li>use of British Sign Language</li>
          <li>extra time to complete the test</li>
          <li>someone reading or rewording the questions</li>
        </ul>
        <p class="govuk-body">We may ask for supporting evidence from a medical or educational professional.</p>
        <p class="govuk-body govuk-!-margin-bottom-9">You can learn more about the <a href="https://www.gov.uk/theory-test/reading-difficulty-disability-or-health-condition" target="
          ">types of support available</a>.</p>
        <form class="form" action="/url/of/next/page" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend><h2 class="govuk-heading-l">Do you need support?</h2></legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
