{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="choose-test-centre-screen">

      <h1 class="govuk-heading-xl">Choose a test centre</h1>
      <p class="govuk-body">There are 5 test centres near <span class="govuk-body govuk-!-font-weight-bold">Swansea</span> - <a href="004-search-for-test-centre">change</a></p>

      <div class="govuk-list-map-tabs">
        <div id="tab1" class="tab active-tab">List <span class="hide">of test centre</span></div>
        <div id="tab2" class="tab"><span class="hide">See </span>map</div>
      </div>
      <div class="govuk-list-map-content">
        <div id="list-of-centres" class="active-content">

          <div class="distance-toggle"><a href="">See kilometers</a></div>

          <div class="test-centre-result">
            <div class="test-centre-distance govuk-body govuk-!-font-weight-bold">
              0.5 miles
            </div>
            <div class="test-centre-info">
              <h2 class="govuk-heading-m">Swansea</h2>
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Provider West Professional Centre,</span><br>
              38 Dale End,<br>
              Birmingham,<br>
              B4 7NJ </p>

              <p class="govuk-body">Open Monday to Friday, 9:30am to 8pm</p>
              <p class="govuk-!-margin-bottom-5"><a href="">View on Google maps</a></p>
              <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  About this test centre
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body govuk-!-font-weight-bold">Telephone: 0800 093 4520</p>

                <h3 class="govuk-heading-m">Description</h3>
                <p class="govuk-body">The test centre entrance is located off Dale End opposite NCP Londonderry House and adjacent to the law court areas. There is no access through the McLaren Building.</p>

                <h3 class="govuk-heading-m">Waiting facilities</h3>
                <p class="govuk-body">There are no waiting facilities for any adults or children accompanying candidates.</p>


                <h3 class="govuk-heading-m">Accessibility (building)</h3>
                <p class="govuk-body">Disabled access is available As you approach the front door for the test centre, turn right towards the bridge. Before you go under the bridge there is a ramp on your left.</p>
                <p class="govuk-body">The main entrance to the McLaren building is at the top of the ramp on the left. Use the entrance bell to alert staff who will arrange access.</p>


                <h3 class="govuk-heading-m">Accessibility (driving test)</h3>
                <p class="govuk-body">Support available at this location:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Voiceover</li>
                  <li>British Sign Language</li>
                </ul>

                <h3 class="govuk-heading-m">Welsh language</h3>
                <p class="govuk-body">Tests can be presented in Welsh at this location.</p>
              </div>
            </details>
            <a href="select-date" class="govuk-button govuk-button--secondary">Select<span class="govuk-visually-hidden"> Swansea test centre</span></a>
            </div>

          </div>

          <div class="test-centre-result">
            <div class="test-centre-distance govuk-body govuk-!-font-weight-bold">
              17 miles
            </div>
            <div class="test-centre-info">
              <h2 class="govuk-heading-m">Bridgend</h2>
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">Bridgend Pearson Professional driving Test Centre,</span><br>
              Crown Buildings,<br>Angel St,<br> Bridgend<br> CF31 4AD </p>
              <p class="govuk-body">Open Monday to Friday, 9:30am to 6pm</p>
              <p class="govuk-!-margin-bottom-5"><a href="">View on Google maps</a></p>
              <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  About this test centre
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body govuk-!-font-weight-bold">Telephone: 0800 093 4520</p>

                <h3 class="govuk-heading-m">Description</h3>
                <p class="govuk-body">The test centre entrance is located off Dale End opposite NCP Londonderry House and adjacent to the law court areas. There is no access through the McLaren Building.</p>

                <h3 class="govuk-heading-m">Waiting facilities</h3>
                <p class="govuk-body">There are no waiting facilities for any adults or children accompanying candidates.</p>


                <h3 class="govuk-heading-m">Accessibility (building)</h3>
                <p class="govuk-body">Disabled access is available As you approach the front door for the test centre, turn right towards the bridge. Before you go under the bridge there is a ramp on your left.</p>
                <p class="govuk-body">The main entrance to the McLaren building is at the top of the ramp on the left. Use the entrance bell to alert staff who will arrange access.</p>


                <h3 class="govuk-heading-m">Accessibility (driving test)</h3>
                <p class="govuk-body">Support available at this location:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Voiceover</li>
                  <li>British Sign Language</li>
                </ul>

                <h3 class="govuk-heading-m">Welsh language</h3>
                <p class="govuk-body">Tests can be presented in Welsh at this location.</p>
              </div>
            </details>
            <a href="select-date" class="govuk-button govuk-button--secondary">Select<span class="govuk-visually-hidden"> Swansea test centre</span></a>
            </div>

          </div>

          <div class="test-centre-result">
            <div class="test-centre-distance govuk-body govuk-!-font-weight-bold">
              45 miles
            </div>
            <div class="test-centre-info">
              <h2 class="govuk-heading-m">Cardiff</h2>
              <p class="govuk-body"><span class="govuk-!-font-weight-bold">driving Test Centre Limerick House,</span><br>
              Limerick House,<br> 23 Churchill Way,<br> Cardiff<br> CF10 2HE</p>
              <p class="govuk-!-margin-bottom-5"><a href="">View on Google maps</a></p>
              <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  About this test centre
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body govuk-!-font-weight-bold">Telephone: 0800 093 4520</p>

                <h3 class="govuk-heading-m">Description</h3>
                <p class="govuk-body">The test centre entrance is located off Dale End opposite NCP Londonderry House and adjacent to the law court areas. There is no access through the McLaren Building.</p>

                <h3 class="govuk-heading-m">Waiting facilities</h3>
                <p class="govuk-body">There are no waiting facilities for any adults or children accompanying candidates.</p>


                <h3 class="govuk-heading-m">Accessibility (building)</h3>
                <p class="govuk-body">Disabled access is available As you approach the front door for the test centre, turn right towards the bridge. Before you go under the bridge there is a ramp on your left.</p>
                <p class="govuk-body">The main entrance to the McLaren building is at the top of the ramp on the left. Use the entrance bell to alert staff who will arrange access.</p>


                <h3 class="govuk-heading-m">Accessibility (driving test)</h3>
                <p class="govuk-body">Support available at this location:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Voiceover</li>
                  <li>British Sign Language</li>
                </ul>

                <h3 class="govuk-heading-m">Welsh language</h3>
                <p class="govuk-body">Tests can be presented in Welsh at this location.</p>
              </div>
            </details>
            <a href="select-date" class="govuk-button govuk-button--secondary">Select<span class="govuk-visually-hidden"> Swansea test centre</span></a>
            </div>

          </div>
          <a href="" class="govuk-button govuk-button--secondary see-5-more">See 5 more</a>
        </div>
        <div id="map-of-centres" class="hidden-content">
          <div id="map-right">
            <div class="title-distance"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d466376.57228135667!2d-3.8611347811092127!3d51.62869437488487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1586204401709!5m2!1sen!2suk" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <div id="map-left">
            <h2 class="govuk-heading-m" id="test-centre-name">Swansea</h2><div class="append-distance govuk-body">0.5 miles</div>
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Provider West Professional Centre,</span><br>
            38 Dale End,<br>
            Birmingham,<br>
            B4 7NJ </p>
            <p class="govuk-!-margin-bottom-5"><a href="">View on Google maps</a></p>
          <a href="select-date" class="govuk-button govuk-button--secondary">Select<span class="govuk-visually-hidden"> Swansea test centre</span></a>
          </div>

        </div>

      </div>
    </div>
  </div>

{% endblock %}
