{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want to use the information and preferences from your theory test to book your driving test?
      </h1>
    </legend>
<br>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
          Use my theory test data
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Use the support needs, email address and location preference associated with your theory test
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in-2">
          Book a driving test without using my theory test information
        </label>
        <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">

        </div>
      </div>
    </div>

  </fieldset>
</div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
