{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Booking reference: B-000-261-432</span>

            <h1 class="govuk-heading-xl">Your theory test details</h1>

            <h2 class="govuk-heading-m">Personal details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Sarah Philips
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <!-- Change<span class="govuk-visually-hidden"> name</span> -->
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  27 March 1960
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <!-- Change<span class="govuk-visually-hidden"> date of birth</span> -->
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Driving licence number
                </dt>
                <dd class="govuk-summary-list__value">
                  DL789YDHDS7DSF
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <!-- Change<span class="govuk-visually-hidden"> date of birth</span> -->
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Telephone
                </dt>
                <dd class="govuk-summary-list__value">
                  07595177652
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <!-- Change<span class="govuk-visually-hidden"> date of birth</span> -->
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                   Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  sphilips@gmail.com
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <!-- Change<span class="govuk-visually-hidden"> date of birth</span> -->
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Consent to leave phone message
                </dt>
                <dd class="govuk-summary-list__value">
                  Yes
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <!-- Change<span class="govuk-visually-hidden"> date of birth</span> -->
                  </a>
                </dd>
              </div>

            </dl>

            <h2 class="govuk-heading-m">Test details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Test type
                </dt>
                <dd class="govuk-summary-list__value">
                  Car
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <!-- Change<span class="govuk-visually-hidden"> previous application number</span> -->
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Cost
                </dt>
                <dd class="govuk-summary-list__value">
                  £23.00
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    <!-- Change<span class="govuk-visually-hidden"> date of birth</span> -->
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Test centre
                </dt>
                <dd class="govuk-summary-list__value">
                  Pearson Professional Centre Swansea, Grove House, 3 Grove Place, Swansea, SA1 5DF
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence type</span>
                  </a> -->
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Test time
                </dt>
                <dd class="govuk-summary-list__value">
                  9:00am, Monday 12 November 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> home address</span>
                  </a> -->
                </dd>
              </div>

            </dl>

            <h2 class="govuk-heading-m">Support details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Support needed
                </dt>
                <dd class="govuk-summary-list__value">
                  Help with reading the test questions or entering my answers.
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> previous application number</span>
                  </a> -->
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  On-screen Language
                </dt>
                <dd class="govuk-summary-list__value">
                  English
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence type</span>
                  </a> -->
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  On-screen British Sign Language (BSL)
                </dt>
                <dd class="govuk-summary-list__value">
                  Not requested
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> licence type</span>
                  </a> -->
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Voiceover with headphones
                </dt>
                <dd class="govuk-summary-list__value">
                  Not requested
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> home address</span>
                  </a> -->
                </dd>
              </div>

            </dl>

            <a href="booking-status-booked" class="govuk-button govuk-button--secondary">Back to bookings</a>



          </div>
        </div>

{% endblock %}
