{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <h1 class="govuk-heading-xl">Choose a test slot</h1>

        <p>You have until Monday 9 November to accept a test slot</p>

        <br>
        <img class="dl-exmaple" src="/public/images/slot2.png" />


        <br>
        <a href="check-details" class="govuk-button govuk-!-margin-right-2">Continue</a>
<p class="govuk-body"><a href="#" class="govuk-link">Request a different time or location</a></p>
<p class="govuk-body"><a href="#" class="govuk-link">Cancel my support request</a></p>

        </div>



</div>

{% endblock %}
