{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<!-- <img class="dl-exmaple" src="/public/images/dvsa-logo.png" </img> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Send us evidence now to complete your support request</h1>

        <p>
          Your request will not be processed until this evidence is received.</p>

<p>Your reference B-XXX-XXX-XXX</p>
<p>Keep this reference safe. You will need it if you need to talk to us. It may be useful to print this email.</p>

<h2 class="govuk-heading-m">Important</h2>

<p>We are currently responding to a high number of enquiries and we will contact you as soon as possible to arrange your theory test.</p>

<h2 class="govuk-heading-m">Your test and support details</h2>

<p>Test type: Car<br>
On-screen language: English<br>
Support requested: Yes<br>
Support types you selected: Voiceover<br>
Preferred time for test: Monday mornings<br>
Preferred locations for test: Derby</p>

<h2 class="govuk-heading-m">What you must do now</h2>

<p>Email your evidence

<p>Email your evidence documents to: theorytestsupport@dvsa.gov.uk</p>
<p>You can send as many documents as you need to provide evidence.</p>

<h2 class="govuk-heading-m">Important</h2>

<p>To help speed up your support request, include your:</p>

<p>1. support request reference B-XXX-XXX-XXX<br>
2. full name<br>
3. driving licence number</p>

<h2 class="govuk-heading-m">Other ways to send evidence</h2>

<p>Alternatively, you can post your evidence to:</p>

<p>Driver and Vehicle Standards Agency<br>
PO Box 349<br>
Newcastle upon Tyne<br>
NE12 2GN</p>

<h2 class="govuk-heading-m">Your evidence</h2>

<p class="govuk-body">Make sure your evidence:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>is a letter, email, diagnostic assessment or report
</li>
  <li>is from an educational or medical professional, an occupational therapist or a relevant organisation
</li>
  <li>confirms your condition
</li>
<li>includes your first and last names
</li>
<li>is signed and on headed paper if it is a letter of a report
</li>
<li>confirms your condition
</li>
</ul>









<p>You can learn more about evidence on the government’s website <a href="https://www.gov.uk/theory-test/reading-difficulty-disability-or-health-condition">here</a>.</p>

<h2 class="govuk-heading-m">When we receive your evidence</h2>

<p>We will check your evidence to make sure it enables you to get the right support.</p>

<p>We will contact you when we have done this.</p>

<h2 class="govuk-heading-m">You can also contact us</h2>

<p>DVSA theory test enquiries<br>
Email: theorycustomerservices@dvsa.gov.uk<br>
Telephone: 0300 200 1122<br>
Monday to Friday, 8am to 4pm
        </p>

        <br>


        <br>
<p class="govuk-body"><a href="#" class="govuk-link">Request a different time or location</a></p>
<p class="govuk-body"><a href="#" class="govuk-link">Cancel my support request</a></p>

        </div>



</div>

{% endblock %}
