{% extends "layout.html" %}

{% block pageTitle %}
You’ve booked a car theory test

{% endblock %}

{% block beforeContent %}
<!-- <img class="dl-exmaple" src="/public/images/dvsa-logo.png" </img> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You’ve cancelled your theory test support
      <!-- <h1 class="govuk-heading-xl">You’ve cancelled your theory test -->

</h1>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-inset-text">
Booking reference: B-000-261-431
</div>
        <p>

          Keep your booking reference safe. <br>
</p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">





<p>If you did not cancel this test support or do not know who did, call us as soon as you can:

  <ul class="govuk-list govuk-list--bullet">
    <li>
      Telephone: 0300 200 1122.

    </li>

    </ul>

<p>Do not reply to this email.
</p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h1 class="govuk-heading-xl">Book a theory test</h1>


<p>  To book a theory test, go to <a href="reference-number">www.theory-test/book-theory-test</a>

</p>


        </div>



</div>

{% endblock %}
