{% extends "layout.html" %}

{% block pageTitle %}
You’ve booked a car theory test

{% endblock %}

{% block beforeContent %}
<!-- <img class="dl-exmaple" src="/public/images/dvsa-logo.png" </img> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You’ve cancelled your theory test

</h1>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div class="govuk-inset-text">
Booking reference: B-000-261-431
</div>
        <p>

          Keep your booking reference safe. <br>
</p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">




          <h2 class="govuk-heading-m">Useful information</h2>

<p>If you change or cancel your test after 10 November 2022, you’ll have to pay again.
</p>
<p class="govuk-body">
  Find out how to:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    get ready for a theory test: <a href="https://www.gov.uk/theory-test/revision-and-practice ">www.gov.uk/theory-test/revision-and-practice</a>

  </li>
  <li>
    check test details <a href="https://www.gov.uk/check-theory-test">www.gov.uk/check-theory-test</a>
  </li>
  <li>
    change a test <a href="https://www.gov.uk/change-theory-test">www.gov.uk/change-theory-test</a>
  </li>
  <li>
    cancel a test <a href="https://www.gov.uk/cancel-theory-test ">www.gov.uk/cancel-theory-test</a>
  </li>
  </ul>
        </div>



</div>

{% endblock %}
