{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <span class="govuk-caption-xl">Booking reference: B-000-261-433</span>

      <h1 class="govuk-heading-xl">You did not book a test slot in time</h1>

        <p>We sent you time slots for your theory test but you did not book one in time.​</p>
​
<p>The time slots are no longer reserved for you.</p>
​
<p class="govuk-body">You can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="theory-options">ask for different test slots</a></li>
  <li><a class="govuk-link" href="theory-options2">cancel theory test support</a></li>
</ul>

<!-- <p>You can:​</p>
<p><a class="govuk-link" href="theory-options">ask for different test slots</a></p>

<p><a class="govuk-link" href="theory-options2">Cancel theory test support</a></p>
 -->



        <br>


        <!-- <div class="govuk-button-group">
          <a href="theory-options" button class="govuk-button govuk-button--primary" data-module="govuk-button">
            Get theory test time slot​
          </a>

          <a class="govuk-link" href="theory-options2">Cancel theory support</a>

        </div> -->



</div>

{% endblock %}
