{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <span class="govuk-caption-xl">Booking reference: B-000-261-433</span>

      <h1 class="govuk-heading-xl">Cancel your theory test support</h1>

        <p>If you cancel your theory test support, you can continue to book a thoery test and pay. </p>
​
<p>If you then decide you need theory test support, you must cancel your theory test and book again.</p>
​
<p>You must give at least 3 full working days' notice to cancel your test. If you do not, we'll not give you a refund.​</p>
<p>Monday to Saturday count as working days but Sundays and public bank holidays do not.​</p>




        <br>


        <div class="govuk-button-group">
          <a href="#" button class="govuk-button govuk-button--warning" data-module="govuk-button">
            ​Cancel theory support
          </a>

          <a class="govuk-link" href="booking-status">Back to manage theory test bookings</a>

        </div>



</div>

{% endblock %}
