<table class="govuk-table" style="margin-bottom: 0px!important">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-body-s">EORI GB123456789001: 
        <span class="govuk-table__cell govuk-body-s" style="border-style: none!important;">ACME Corporation</span></th>
      <th scope="col" class="govuk-table__cell govuk-table__cell--numeric govuk-body-s"><a href="signin.html">Sign out</a></th>
    </tr>
    <tr>
      <th></th>
      <th scope="col" class="govuk-table__cell govuk-body govuk-body-s" style="border-style: none!important;padding-bottom: 0px!important;padding-top: 25px;text-align: right;">
        <span aria-current="true">English</span>&nbsp;&nbsp;&nbsp;
        <a href="#" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </th>
    </tr>
  </thead>
</table>

