<link href="./Dashboard  · Manage Theory Tests_files/govuk-frontend-3.5.0.min.css" rel="stylesheet">
<link href="./Dashboard  · Manage Theory Tests_files/theme.css" rel="stylesheet">

<table class="govuk-table" style="margin-bottom: 0px!important">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <!--
      <div id="top-nav">
          <ul class="nav-left">
                  <li class="highlighted-nav-item">Dashboard</li>
                  <li><a class="govuk-link" href="https://ihttcuat.powerappsportals.com/manage-candidate-registrations/">Candidates</a></li>
                  <li><a class="govuk-link" href="https://ihttcuat.powerappsportals.com/manage-test-bookings/">Bookings</a></li>       
          </ul>
          <ul class="nav-right">
              <li class="user">
                  nickh@kainos.com
              </li>
              <li class="divider"></li>
              <li>
                  <a class="govuk-link" aria-label="Sign out" href="https://ihttcuat.powerappsportals.com/Account/Login/LogOff?returnUrl=%2Fdashboard%2F" title="Sign out">
                      Sign out
                  </a>
              </li>
          </ul>
      </div>
      -->

      <th scope="col" class="govuk-table__header govuk-body-s highlighted-nav-item">Dashboard 
        <span class="govuk-table__cell govuk-body-s" style="border-style: none!important;">&nbsp;&nbsp; 
          <a href="#">Candidates</a> &nbsp;&nbsp; <a href="#">Bookings</a></span></th>
      <th scope="col" class="govuk-table__cell govuk-table__cell--numeric govuk-body-s"><span aria-current="true">john.smith@email.com</span>&nbsp;&nbsp; <span style="color: #999999">|</span> &nbsp;&nbsp;<a href="signin.html">Sign out</a></th>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-body govuk-!-font-weight-regular" style="border-style: none!important;padding-bottom: 0px!important;">
        <a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom: 0px!important">Back</a>
      </th>
      <th scope="col" class="govuk-table__cell govuk-body govuk-body-s" style="border-style: none!important;padding-bottom: 0px!important;padding-top: 25px;text-align: right;">
      </th>
    </tr>
  </thead>
</table>

