{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <h1 class="govuk-heading-xl">Manage theory test support</h1>

        <p>

Select a booking reference to view, manage or cancel your theory test support.

</p>

        <br>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Booking reference</th>
              <th scope="col" class="govuk-table__header app-custom-class">Test type</th>
              <th scope="col" class="govuk-table__header app-custom-class">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="choose-slot">B-000-261-433</a></th>
              <td class="govuk-table__cell">Car</td>
              <td class="govuk-table__cell"><strong class="govuk-tag">In progress</strong></td>
            </tr>

          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="book-slot">B-000-123-456</a></th>
              <td class="govuk-table__cell">Motorcycle</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Done</strong></td>
            </tr>

          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="slot-expired">B-000-321-654</a></th>
              <td class="govuk-table__cell">Motorcycle</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Expired</strong></td>
            </tr>

          </tbody>
        </table>

</div>

{% endblock %}
