{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Enter your driving licence number</h1>

          <p>Your driving licence number is 16 numbers and letters long. ​ It must be exactly the same as on the driving licence.​</p>
          <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Error message text
          </span>
          <p class="govuk-hint">See section 5 of the driving licence</p>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
<br><br>
          <p class="govuk-body"><strong>Example</strong></p>
          <img class="dl-exmaple" src="/public/images/item3.png" />

<br><br><br><br>


<a href="reference-number" class="govuk-button govuk-!-margin-right-2">Continue</a>


    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><strong>Example</strong></p>
      <img class="dl-exmaple" src="/public/images/item3.png" />
          </div> -->
        </div>
</div>
{% endblock %}
