{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="choose-test-centre-screen">

        <h1 class="govuk-heading-xl">Where would you like to take your driving test?</h1>
        <p class="govuk-body">Knowing your preferred location helps us arrange the support you want. We'll try our best but this will depend on availability.</p>
        <p class="govuk-body">You can search for driving test centres by entering a postcode, a place or region.</p>
        <p class="govuk-body">You will be able to:</p>
        <ul class="govuk-!-padding-bottom-2">
          <li class="govuk-body">a map and check directions for getting to the centre</li>
          <li class="govuk-body">check any special instructions for using the centre</li>
        </ul>

        <div class="grey-bounding">
          <label class="govuk-label" for="event-name">
            Enter a postcode or place. For example SW1A 2AA or Birmingham.
          </label>
          <input class="govuk-input govuk-!-padding-bottom-5" id="location-val" name="event-name" type="text">
          <div class="govuk-!-padding-bottom-5"></div>
          <a href="choose-test-centre" class="govuk-button">Find</a>

        </div>

      </div>
    </div>
  </div>

{% endblock %}
