{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

<div class="govuk-width-container" id="payment-screen-new">
<main class="govuk-main-wrapper " id="main-content" role="main">

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="index-2">Cancel</a>
    <form class="cpms" action="pay-2" method="post">

      <div class="govuk-form-group">

        <h2 class="govuk-heading-m">Additional Information</h2>
        <p class="govuk-body">All fields marked * are mandatory</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            <strong>Cardholder's Name*</strong>
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            E-Mail
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="email">
        </div>

        <div class="govuk-form-group govuk-!-margin-bottom-4">
          <label class="govuk-label" for="width-20">
            Confirm E-Mail
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="email">
        </div>

  <a href="pay-3" class="govuk-button govuk-!-margin-right-1">
    Continue
  </a>

  <a href="" class="govuk-button govuk-!-margin-right-1">
    Reset
  </a>

  <a href="pay-1" class="govuk-button">
    Back
  </a>


    </form>

  </div>
</div>


</main>
</div>

{% endblock %}
