{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row" id="checkyouranswers">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="how-to-contact-you">
      <h1 class="govuk-heading-xl">Getting support with the driving test</h1>
      <p class="govuk-body">Because you've asked for support with your driving test, you won't be able to make the booking right now. A member of staff will arrange for you to have extra time on your thoery test with the test centre.</p>
      [evidence]

      <h2 class="govuk-heading-m">Is there any other support you need?</h2>
      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
            <div class="govuk-form-group">
              <span id="more-detail-hint" class="govuk-hint">
              Tell us what support you need.
              </span>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
