{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">There was a problem</h1>
        <p class="govuk-body">A technical problem with our system means this service is not available right now.</p>
        <p class="govuk-body">We’re very sorry. Please try again later.</p>
        <p class="govuk-body">Find more information about <a href="https://www.gov.uk/book-theory-test">booking a theory test</a>.</p>
        <p class="govuk-body">Find out <a href="https://www.gov.uk/book-theory-test">how theory tests are affected by coronavirus COVID-19</a>.</p>

        <h2 class="govuk-heading-m">DVSA theory test enquiries</h2>
        <p class="govuk-body"><a href="mailto:theorycustomerservices@dvsa.gov.uk">theorycustomerservices@dvsa.gov.uk</a><br/>
        Telephone: 0300 2001122<br/>
        Monday to Friday, 8am to 4pm</p>
      </div>
  </div>

{% endblock %}
