{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Booking not successful</h1>
      <p class="govuk-body">Unfortunately the test slot you have attempted to book is no longer available.</p>

      <a class="govuk-button" href="../support-journeys/ns-journey-v7/do-you-need-support">Select another slot and try again</a>
  </div>
</div>

{% endblock %}
