
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">Test</h1>
      <ul>
        <li><a href="candidate-details">Enter candidate details</a></li>
        <li><a href="select-test-centre">Select a test centre</a></li>
        <li><a href="check-your-answers">Check you answers</a></li>
        <li><a href="select-date">Select date (when will you be ready?)</a></li>
        <li><a href="time-slot">Time slot</a></li>
        <li><a href="confirmation-page">Confirmation page</a></li>
        <li><a href="candidate-email">Candidate email</a></li>
      </ul>

      <ul>
        <li><a href="journey3/">Journey 3</a></li>
      </ul>

    </div>
</div>

{% endblock %}
