
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype backlog
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Prototype backlog</h1> 
      <p>This page contains the prototypes versions, including description, user journey, primary user, and updates description and dates for each version.</p>
    </div> 
  </div>

  <br>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <hr style="height:1px;border-width:0;color:black;background-color:black" class="govuk-!-margin-bottom-5">

      <!-- version 2.0 -->

      <p class="govuk-heading-m">
        <span>Version 2.0  </span>
        &nbsp;&nbsp;&nbsp;&nbsp;   
        <span class="govuk-!-font-weight-bold"></span>
      </p>

      <div>
        <table>
          <tr>
            <td width="500px" style="vertical-align: top;padding-top: 0px;" class="govuk-body govuk-!-font-weight-regular">This version is focus on trainers signing process.</td>
            <td width="50px"></td>
          </tr>
        </table>
      </div>

      <p style="padding: 0 0 10px 0;"></p> 

      <p class="govuk-!-font-weight-bold"><a href="v2/start.html" class="govuk-!-font-weight-bold">See prototype </a>
        <span class="govuk-body govuk-!-font-weight-regular"> &nbsp; </span> 
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><span class="govuk-!-font-weight-bold">User:</span> Trainers</li>
        <li><span class="govuk-!-font-weight-bold">User task:</span> Signin to my dashboard</li>
        <li><span class="govuk-!-font-weight-bold">Last update:</span> 17 June 2021</li>
      </ul>

      <details class="govuk-details" style="margin-bottom: 10px;margin-top: 30px;">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" style="font-size: 16px">Access details</span>
        </summary>
        <div class="govuk-details__text">
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Credentials</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>Username: 12345678</li>
            <li>Password: password </li>
          </ul>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" style="font-size: 16px">Updates details</span>
        </summary>
        <div class="govuk-details__text">
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Business requirements:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>Recreate Miro's journey in a prototype using the GDS design system except existing UI from third party</li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">GDS team:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>None </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">RAD team:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>None </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Accesibility team:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>None </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Design team:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>None</li>
          </ul>
        </div>
      </details>

      <hr style="height:1px;border-width:0;color:black;background-color:black" class="govuk-!-margin-bottom-5">

      <!-- version 1.0 -->

      <p class="govuk-heading-m">
        <span>Version 1.0  </span>
        &nbsp;&nbsp;&nbsp;&nbsp;   
        <span class="govuk-!-font-weight-bold"></span>
      </p>

      <div>
        <table>
          <tr>
            <td width="500px" style="vertical-align: top;padding-top: 0px;" class="govuk-body govuk-!-font-weight-regular">This version is focus on trainers signing process.</td>
            <td width="50px"></td>
          </tr>
        </table>
      </div>

      <p style="padding: 0 0 10px 0;"></p> 

      <p class="govuk-!-font-weight-bold"><a href="v1/start.html" class="govuk-!-font-weight-bold">See prototype </a>
        <span class="govuk-body govuk-!-font-weight-regular"> &nbsp; </span> 
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><span class="govuk-!-font-weight-bold">User:</span> Trainers</li>
        <li><span class="govuk-!-font-weight-bold">User task:</span> Signin to my dashboard</li>
        <li><span class="govuk-!-font-weight-bold">Last update:</span> 17 June 2021</li>
      </ul>

      <details class="govuk-details" style="margin-bottom: 10px;margin-top: 30px;">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" style="font-size: 16px">Access details</span>
        </summary>
        <div class="govuk-details__text">
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Credentials</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>Username: 12345678</li>
            <li>Password: password </li>
          </ul>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" style="font-size: 16px">Updates details</span>
        </summary>
        <div class="govuk-details__text">
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Business requirements:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>Recreate Miro's journey in a prototype using the GDS design system</li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">GDS team:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>None </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">RAD team:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>None </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Accesibility team:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>None </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Design team:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>None</li>
          </ul>
        </div>
      </details>

      <hr style="height:1px;border-width:0;color:black;background-color:black" class="govuk-!-margin-bottom-5">

      <!-- 

      <p class="govuk-heading-m">
        <span>Version 5.0  </span>
        &nbsp;&nbsp;&nbsp;&nbsp;   
        <span class="govuk-!-font-weight-bold"></span>
      </p>

      <div>
        <table>
          <tr>
            <td width="500px" style="vertical-align: top;padding-top: 0px;" class="govuk-body govuk-!-font-weight-regular">This version is focus on refine the single claim, add CMA to sigle claim, add muilple claim and scheduled claim.</td>
            <td width="50px"></td>
          </tr>
        </table>
      </div>

      <p style="padding: 0 0 10px 0;"></p> 

      <p class="govuk-!-font-weight-bold"><a href="v5/guidance.html" class="govuk-!-font-weight-bold">See prototype </a>
        <span class="govuk-body govuk-!-font-weight-regular"> &nbsp; </span> 
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><span class="govuk-!-font-weight-bold">Claim forms:</span> C285 (by default)</li>
        <li><span class="govuk-!-font-weight-bold">Number of claims:</span> Single, multiple and scheduled </li>
        <li><span class="govuk-!-font-weight-bold">Users:</span> Importer only</li>
        <li><span class="govuk-!-font-weight-bold">Last update:</span> 14 April 2021</li>
      </ul>

      <details class="govuk-details" style="margin-bottom: 10px;margin-top: 30px;">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" style="font-size: 16px">Access details</span>
        </summary>
        <div class="govuk-details__text">
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Sign in page</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>Username: 123456789012</li>
            <li>Password: importer </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">MRN page</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>MRN: 19GB03I52858027017 </li>
            <li>Entry number: 19GB03I52858027018 </li>
          </ul>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" style="font-size: 16px">Updates details</span>
        </summary>
        <div class="govuk-details__text">
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Business requirements:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>Introduce CMA in single claim</li>
            <li>Introduce multiple claim (manual entry)</li>
            <li>Introduce scheduled claim (file upload) </li>
            <li>Improvments </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">RAD:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>General improvements </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">Accesibility team:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>General improvements </li>
          </ul>
          <span class="govuk-!-font-weight-bold govuk-body-s" style="line-height: 40px">UX design:</span>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>Resolve some issues from RAD feedback and accesibility team</li>
          </ul>
        </div>
      </details>

      <hr style="height:1px;border-width:0;color:black;background-color:black" class="govuk-!-margin-bottom-5">

      -->

    </div>
  </div>

  <p style="padding: 0 0 10em 0;"></p>

{% endblock %}

