{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row" id="checkyouranswers">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check details of additional support request</h1>
    <p class="govuk-body">Check the details of your request for additional support. If anything isn't right select 'Change'. If everything looks good, select 'Continue'.</p>

    <h2 class="govuk-heading-m">Candidate details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key no-border">
          Name
        </dt>
        <dd class="govuk-summary-list__value no-border">
            Glen William Delaney 
        </dd>
        <dd class="govuk-summary-list__actions no-border">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key no-border">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value no-border">
           03 March 1992
        </dd>
        <dd class="govuk-summary-list__actions no-border">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Driving licence number
        </dt>
        <dd class="govuk-summary-list__value">
           DHILL654FTR389B
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact method
        </dt>
        <dd class="govuk-summary-list__value">
           Email
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
           glenwd@email.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Test details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Test type
        </dt>
        <dd class="govuk-summary-list__value">
            Car
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Preferred test location
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-body govuk-!-font-weight-bold">Pearson Centre - Nottingham</span>,<br>
          Lower Parliament Street,<br>
          Nottingham,<br>
          NG1 1GG
        </dd>
        <dd class="govuk-summary-list__actions">

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Preferred test time
        </dt>
        <dd class="govuk-summary-list__value timeslot">
           8:00am
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Preferred date of test
        </dt>
        <dd class="govuk-summary-list__value">
           12 June 2020
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-!-margin-bottom-9">
        <dt class="govuk-summary-list__key">
          Language of test
        </dt>
        <dd class="govuk-summary-list__value">
           English
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">Support details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional support
        </dt>
        <dd class="govuk-summary-list__value">
           Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Requested British sign language
        </dt>
        <dd class="govuk-summary-list__value">
           (BSL) English
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional support request
        </dt>
        <dd class="govuk-summary-list__value">
          Example of text that the user may enter to communicate their particular requirements in terms of additional support choices, and why they might need them.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date request submitted
        </dt>
        <dd class="govuk-summary-list__value">
           12 May 2020
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>
    <a href="" class="govuk-button govuk-!-margin-right-1">Continue</a> <a class="govuk-button govuk-button--secondary" href="">Cancel request</a>
  </div>
</div>
{% endblock %}
