{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Support during the driving test</h1>

      <form class="form" action="/support-journeys/ns-journey-v5/select-support-type" method="post">

        <p class="govuk-body">You can get support during the driving test if you have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a disability</li>
            <li>a health condition</li>
            <li>or have difficulty reading</li>
          </ul>

        <p class="govuk-body">You can ask for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>A voiceover with headphones</li>
          <li>Bristish sign language on the screen</li>
          <li>Extra time to do the test</li>
          <li>Someone to read the questions for you</li>
          <li>Have the wording of the questions made easier to read</li>
          <li>A BSL interpreter</li>
        </ul>

        <p class="govuk-body">If you need support, you might be asked to provide a letter from a teacher or a doctor.</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="support-filter-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Do you want support with the driving test?
              </h2>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-support" name="support-filter" type="radio" value="see-support">
                <label class="govuk-label govuk-radios__label" for="support-filter">
                  Yes - I need one of the support types listed above
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes-support-2" name="support-filter" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="support-filter-2">
                  Yes - I need to request support that is not listed above
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="dont-know-support" name="support-filter" type="radio" value="see-support">
                <label class="govuk-label govuk-radios__label" for="support-filter-2">
                  No - I do not need support
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
