
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">Slot selection NSA/manage support request</h1>


      <div class="latest-proto">
        <h3 class="govuk-heading-s">MVP with content iteration</h3>
        <ul>
          <!-- <li><a href="r1/start">Start page</a></li> -->
          <li><a href="mvp/reference-number">Booking details</a></li>
          <li><a href="mvp/booking-status">Support request status</a></li>
          <li><a href="mvp/book-slot">Select a time</a></li>
          <li><a href="mvp/slot-expired">Expired test slot</a></li>
          <li><a href="mvp/theory-options">Get a new test slot</a></li>
          <li><a href="mvp/theory-options2">Cancel theory test</a></li>
          <li><a href="mvp/confirmation-change-slot">Confirmation slot change</a></li>
          <!-- <li><a href="mvp/theory-options2">You did not book a theory test</a></li> -->
          <li><a href="mvp/check-details">Check your details</a></li>
          <li><a href="mvp/confirmation-page">Confirmation page</a></li>
        </ul>
      </div>

      <!-- <div class="latest-proto">
        <h3 class="govuk-heading-s">Round 1 design iteration</h3>
        <ul>
          <li><a href="r1/licence-number">Licence details</a></li>
          <li><a href="r1/reference-number">Reference number</a></li>
          <li><a href="r1/booking-status">Support request status</a></li>
          <li><a href="r1/evidence-upload">Upload evidence</a></li>
          <li><a href="r1/evidence-pending">Evidence pending approval</a></li>
          <li><a href="r1/choose-slot">Select a time</a></li>
          <li><a href="r1/check-details">Check your details</a></li>
          <li><a href="r1/confirmation-page">Confirmation page</a></li>
        </ul>
      </div> -->




{% endblock %}
