
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m">Slot selection NSA</h1>


      <div class="latest-proto">
        <h3 class="govuk-heading-s">Optimised for desktop</h3>
        <ul>
          <li><a href="r1/start">Start page</a></li>
          <li><a href="r1/reference-number">Reference number</a></li>
          <li><a href="r1/licence-number">Candidate details</a></li>
          <li><a href="r1/timeline">Support request status</a></li>
          <li><a href="r1/choose-slot">Select a time</a></li>
          <li><a href="r1/check-details">Check your details</a></li>




  </ul>


  </div>




{% endblock %}
