{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Your support request has been received.
    </h1>
    <div class="govuk-panel__body">
      Your driving driving test booking reference is
      <br><strong>56712398</strong>
    </div>
  </div>
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body govuk-!-font-weight-bold">A confirmation message has been sent to <a href="mailto:joe@example.com?subject=feedback">mypersonal@email.com</a></p>
      <p class="govuk-body">We'll contact you by email within <X> days.</p>
      <p class="govuk-body">Your driving test booking will be paused while we help you with your support request.</p>
      <p class="govuk-body">It may be useful to <a href="">print this page</a>.</p>

      <h2 class="govuk-heading-m">Your details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date request submitted
          </dt>
          <dd class="govuk-summary-list__value">
            23 March 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Glen William Delaney
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Driving licence number
          </dt>
          <dd class="govuk-summary-list__value">
            DELAN009020GW5IG
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Test type
          </dt>
          <dd class="govuk-summary-list__value">
            Car
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Test language
          </dt>
          <dd class="govuk-summary-list__value">
            English
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Support options requested</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Voiceover
          </dt>
          <dd class="govuk-summary-list__value">
            English
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact method
          </dt>
          <dd class="govuk-summary-list__value">
            Email
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            glenwd@email.com
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Glen William Delaney
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional support
          </dt>
          <dd class="govuk-summary-list__value">
            Example of text that the user may enter to communicate their particular requirements in terms of additional support choices, and why they mightneed them. 
          </dd>
        </div>


    </div>
  </div>

{% endblock %}
